# Discord Bot Token - get from https://discord.com/developers/applications
DISCORD_TOKEN=your_discord_bot_token_here

# Google Sheets Spreadsheet ID (from the URL of your spreadsheet)
SPREADSHEET_ID=your_spreadsheet_id_here

# Path to the Google Service Account credentials JSON file
# Download from https://console.cloud.google.com/apis/credentials
GOOGLE_CREDENTIALS_PATH=./credentials.json
